body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #1f2029;
  	background-color: #68DEA6;
	  text-decoration-color: white;
  
}

.centrd{
	margin-top: 10%;
	text-align: center;
	align-content: center;
	color: white;
}